@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');


*{    
    color: White;
    font-family: 'Hepta Slab', serif;
}
h1,h3{
    text-align: center;
    padding: 10px 0px 10px
}

body{ 
    box-sizing: border-box;
    padding:30px;
    font-family: 'Hepta Slab', serif;
    background:url(img/background.jpg);
    background-repeat: round;
}

.box{
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background-color: #d400db;
    width: 20%;
    border-radius:20px;
    text-decoration: none;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px 30px 50px;
}

.containertwo{
    display: flex;
    justify-content: space-between;
}

#cnst{ 
    width: 250px;
    padding: 10px 30px 10px;
}

#aboutme {
    color:#d400db
}

#tpo,#tptw,#tpth,#tpf,#tpfv{
    max-width:650px;
    max-height:650px;
}

.containerthree{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px 10px 20px;
    justify-content: space-around;
}